.titulo-centralizado {
    text-align: center;
    font-weight: bold;
    align-items: center;
}


.titulo_cafes {
    font-weight: bold;
}

#container {

    width: 300;
    height: 200;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center
   
}